body{   
    background-color: #c7d6c8;
    width: 600px;
}    
#Header{
    position: relative;

}
#Header h1{
    font-size: 50px;
    color: #9A9B97;
    margin: 0;
    padding: 30px 0;
    text-shadow: 3px 3px 1px black;
}
#Header h2{
    font-size: 40px;
    color: #9A9B97;
    margin: 0;
    padding: 40px 0;
    text-shadow: 3px 3px 1px black;
}
#Header img{
    max-width:100%;
    height:auto;
    max-height:100%;
    position:relative;
    opacity: 0.5;

}
#welcome_text {
    margin: 0 auto;
    padding: textwrap .5;
    border: 5px solid white;
    border-radius: 15px 50px;
    text-align: center;
}
