body{   
    background-color: #c7d6c8;
}
.topnav{
    background-color: #9fc0a1;
    overflow: hidden;
}  
.topnav a{
    float: left;
    color: #cccbcb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(199, 241, 81);
    color: rgb(0, 0, 0);
} 
.topnav a.active {
    background-color: #8f9683;
    color: white;
  } 
#head1{
    font-size: 100px;
    font-family: "Garamond";
    color: #9A9B97;
    padding: 30px 0;
    text-shadow: 3px 3px 1px black;
}
#head2{
    font-size: 100px;
    font-family: "Garamond";
    color: #9A9B97;
    padding: 40px 0;
    text-shadow: 3px 3px 1px black;
}
#bee{
    transform: translate(120px, -50%);
    max-width:50%;
    height:auto;
    max-height:50%;
    position:relative;
}
#flower{
    max-width:100%;
    height:auto;
    max-height:100%;
    position:relative;
} 
#welcome_text {
    margin: auto;
    padding: textwrap .5;
    border: 5px solid white;
    border-radius: 15px 50px;
    text-align: center;
}
h2{
    font-size: 20px;
    font-family: "Garamond";
}
#p {
    font-family: "Times New Roman";
    margin: auto;
    padding:textwrap .5;
    border: 5px solid rgb(59, 117, 5);  
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 40px;
    background-color:rgb(80, 116, 80);
    color: white;
    text-align: center;
    font-size: 12px;
  }
#person{
    max-width:50%;
    height:auto;
    max-height:50%;
    position:relative;
}
#aboutme{
    text-align:center;
    padding:textwrap .5;
    border: 5px solid rgb(175, 175, 175); 
}